.bkimg{
    background-image: url(../../duncan-kidd.jpg);
    background-size: 100%;
}

a.changecol{
    color: #000000 !important;
}

.join{
    padding-top: 60%;
    padding-bottom: 20%;
}

@media only screen and (max-width: 420px ) {
    .container {
        display:flex;
    }
   
    .navbarContiner{
        order: 1;
    }
    .landing{
       order: 2; 
    }   
    .navbar{
        padding-left: 20px;
    }

}
